/*Class to help us visualize the grid*/
.boxHelper
{
	color: #fff;
	background-color: #000;
}
.hidden {
	display: none;
}
#main-menu li
{
	display: block;
}

@font-face {
    font-family: BebasNeue;
    src: url(../assets/fonts/BebasNeue.otf);
}

@font-face {
    font-family: Myrid;
    src: url(../assets/fonts/Myrid.otf);
}

@font-face {
    font-family: Avenir;
    src: url(../assets/fonts/AvenirLTStd-Medium.otf);
}

#timeline_lightbox{
	display: none;
}


body{
	font-family: BebasNeue;
}

h1, h2, h3, p{
	font-family: BebasNeue;
}

#site_loaded
{
	display: none;
}

/* Landing Page */


#landing_page
{
	background-color: white;
	height: 100vh; /* This makes the height 100% to the viewport loaded*/
	width: 100%;
  background-image: url("../images/landing_background.png");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	position: absolute;
}

#landing_logo
{
	display: block;
	margin: auto;
	text-align: center;
	margin-bottom: 50px;
	opacity: 0;
}

#landing_button_div
{
	text-align: center;

}

.landing_button {
    color: white;
		background-color: #990000;
		padding: 8px;
    border: 2px solid #990000;
		border-radius: 5px;
		text-align: center;
}

.landing_button:hover {
    color: #990000;
		border: white;
		background-color: white;
}

.vertical-align
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


/*Loading Screen*/

#loading_screen
{
	background-color: white;
 position: absolute;
 z-index: -1;
 display: block;
 margin: auto;
 text-align: center;
 height: 100vh; /* This makes the height 100% to the viewport loaded*/
 width: 100%;
}

#loading_logo
{
	display: block;
	margin: auto;
	text-align: center;
	margin-bottom: 30px;

}


.loading_section {
  background-color:white;
  height: 2px;
  margin: auto;
  position: relative;
  top: 10px;
}

.bar {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,white), color-stop(100%,red));
  height: 2px;
  width: 0%;
}

.animating {
  -webkit-animation: progress 6s 1 linear;
}

@-webkit-keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}




/* Actual Site Content Styling! */
header
{
	background-color: black;
	padding-bottom: 20px;
}

#site_container
{
 position: absolute;
 z-index: -999;
 width: 100%;
 background-color: white;
 min-width: 320px;
}

/* Nav */

.title-bar{
	background-color: black;
	padding-top: 20px;

}

#mainNav
{
	margin: 0;
	list-style-type: none;
	padding-left: 20px;
	margin-bottom: 30px;
}
#mainNav li
{
	border-bottom: 1px solid #990000;

}
#mainNav li a
{
	display: block;
	padding: 5px 0 5px 0;
	color: white;

}
#mainNav li:first-child
{
	border-top: 1px solid #990000;
}
#mainNav li:last-child
{
	margin-bottom: 10px;
}


#mainNav li a:hover
{
	color: #990000;
}

.header_icons_svg{
	padding-right: 2px;
}

.header_icons
{
	padding-top: 20px;
}


/* Heading Mobile*/

.heading_logo_img
{
	padding-top: 100px;
	padding-bottom: 100px;
	display: block;
	margin: auto;
	text-align: center;
}


/*Heading Desktop*/

#heading_page
{
	background-color: black;
	background-image: url("../images/obj_logo_white.svg");
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: 400px 400px;
	padding-bottom: 50px;

}

#mobile_heading_page{
	background-color: black;
	padding-bottom: 50px;
}

#theLegend
{
	padding-top: 10%;
}

.heading_odell_img
{
	display: block;
	margin: auto;
	text-align: center;
}

.heading_button
{
	display: block;
	margin: auto;
	color: white;
	padding: 8px;
	font-size: 1em;
	text-align: center;
	width: 50%;
}

#theLegend a
{
	display: block;
	text-align: center;
	padding-left: 13%;
}

.heading_button:hover{
	color: #990000;
}


.header_icons_svg{
	float: right;
}

/*Welcome Page*/

#welcome_background_img{
	background-color: white;
	background-image: url("../images/welcome_mobile_background.png");
	width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	height: 600px;

}

#welcome_background_img_desk{
	background-color: white;
	background-image: url("../images/welcome_mobile_background_desk.png");
	width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	height: 600px;

}


.stat
{
	float: left;
	padding: 10px;
}

#stats_section{
	display: table;
	margin: auto;
	text-align: center;
	margin-top: 10px;
}


.stat p{
	color: #990000;

	font-size: 0.5em;
}

.stat h3{
	color: black;
}

/* info_page */




#info_page
{
	background-color: white;
	background-image: url("../images/info_mobile_background.png");
	height: auto;
	width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	overflow: hidden;
}

.welcome_title{
	padding-top: 20px;

	color: #990000;
	font-family: BebasNeue;
	font-size:2.2em;
	text-align: center;
}

.nav_container{
	text-align: center;
	float: right;
}

.infoNav li {
	float: right;
}

.infoNav ul{
	font-size: 0.65em;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
}



.infoNav li a {
		float: right;
		display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
		padding: 5px;
}

.infoNav li a:hover {
	color: #990000;
}


#goals
{
	padding-top: 5px;
	color: white;
	font-size: 1.05em;
}


/*Video */

video{
	width:100%;
  height: auto;
}

/* Gear */

#gear{
	background-color: white;
	background-image: url("../images/gear_background.png");
	height: auto;
	width: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

#gear_div
{
	margin-top: 230px;
	padding-bottom: 30px;
}





/* Stay Connected */

#stay_connected{
	background-color: black;
	padding-bottom: 10px;

}

#email_box
{
	width: 60%;
	float: left;
	height: 20px;
	background-color: white;
	color: red;
	font-size: 0.8em;
}

#submit_button
{
	float: right;
	width: 30%;
	height: 20px;
	font-family: BebasNeue;
	background-color: white;
	color: grey;
	font-size: 0.8em;
}

#stay_connected h2
{
	padding-top: 10px;
	color: white;
	font-family: BebasNeue;
	text-align: center;
	text-decoration: underline #990000;
}

#stay_connected p
{
	color: #990000;
	font-family: BebasNeue;
	text-align: center;
	font-size: 0.8em;
}



/*  performance_section */

#performance_section
{
	background-color: white;
	background-image: url("../images/performance_background.png");
	height: auto;
	width: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	padding-bottom: 90px;
	padding-top: 100px;
}

.performance_text{
		margin-top: -170px;
}

#ultimate{
	margin-top: -85px;
}

#ultimate{
	padding-top: 10px;
	font-size: 0.55em;

}

#performance_title
{

}

#more_than
{
	color: #990000;
	vertical-align: center;
}

#performance_info_text
{
	font-family: Avenir;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.6em;
}



/*Timeline */

#timeline
{

}

#gear h3
{
	text-align: center;
}

.jersey
{
	display: block;
	margin: auto;
}

.shirt
{
	display: block;
	margin: auto;
}

.shoes
{
	display: block;
	margin: auto;
}

.gear_title
{
	color: #990000;
	text-align: center;
	font-size: 2em;
}









/*Footer */
#footerCon
{
	background-color: #990000;
	height: 30px;
}

#footer_nav{
	margin-top: 3px;
}

#footer_icons{
	text-align: center;

}

.social_icon{
	float: right;
	margin-top: 7px;
	margin-left: 5px;
	width: 10px;
	height: 10px;
}

.social_icon:hover{
	-webkit-filter: opacity(50%); /* Safari */
    filter: opacity(50%);
}

footer ul{
	font-size: 0.6em;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
}


footer li {
    float: left;
}

footer li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
		padding: 2px;
}

footer li a:hover {
	color: black;
}

#timeline_section
{
	background-color: #990000;
	width: 100%;
	height: auto;
}

.thumb { height: 90px; margin: 8px; cursor: pointer; }

.timeline_images
{
	cursor: pointer;
}

.timeline_section h2{
float: left;
padding: 20px;
}

.timeline_section img{
	display: block;
float: left;
padding: 20px;
}

.timeline_section h3{
float: left;
padding: 20px;
}



.timeline_section
{
	height: 300px;;
	border-left: 6px solid #990000;
	border-top: 2px solid #990000;
}

.timeline_h2{
	font-size: 2.5em;
	color: #990000;
}

.timeline_h3
{
	font-size: 1.8em;
}

#story_div
{
	background-color: #990000;
	padding: 20px 0px 20px 0px;
	background-image: url("../images/goal_posts_png.png");
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#learn_my_story{
	text-align: center;
	color: white;
	font-size: 2em;
}



#about_me_header
{
	color: black;

}

#about_me_text
{
	font-size: 0.6em;
	color: black;
}

.about_button {
    color: white;
		background-color: #990000;
		padding: 5px;
    border: 2px solid #990000;
		border-radius: 5px;
		text-align: center;
		font-size: 0.6em;
}

#about_section
{
	margin-top: 130px;
	margin-bottom: 30px;
}

#look_like
{
	font-size: 1em;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*Media Query*/


@media only screen and (min-width: 420px) {

#goals
{
	font-size: 1.5em;
}


}

@media only screen and (min-width: 500px) {
	footer ul{
		font-size: 0.9em;
	}

	.social_icon{
		float: right;
		margin-top: 7px;
		margin-left: 5px;
		width: 15px;
		height: 15px;
	}



}


@media only screen and (min-width: 640px) {
	footer ul{
		font-size: 0.8em;
	}

	#about_me_text
	{
		font-size: 1em;
		color: black;
	}

	#about_section
	{
		margin-top: 160px;
		margin-bottom: 30px;
	}



	.infoNav
	{
		margin-top: -100px;
		margin-right: 400px;
	}

	#goals {
		margin-top: 50px;
		font-size: 2em;
	}

	#look_like
	{
		font-size: 1em;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#gear_div
	{
		margin-top: 0px;
	}


	.social_icon{
		float: right;
		margin-top: 7px;
		margin-left: 5px;
		width: 15px;
		height: 15px;
	}

	#stay_connected p{
		font-size: 1em;
	}

	.performance_text
	{
		width: 100%;
		height: 100%;

	}

#ultimate
{
	font-size: 1em;
	padding-top: 25px;
	text-align: center;
}

#performance_content
{
	margin-top: 50px;
}

#performance_section
{
	height: 500px;
}

.welcome_title
{
	text-align: left;
}

#stats_section
{
	margin-top: -205px;
}

#welcome_title_desk{
	margin-top: 10px;
}

#welcome_background_img_desk
{
	margin-top: -220px;
}


}



@media only screen and (min-width: 810px) {

#ultimate
{
	font-size: 1.2em;
	padding-top: 40px;
}

#performance_content
{
	margin-top: 50px;
}

#performance_section
{
	height: 550px;
}


}



@media only screen and (min-width: 1100px) {

.timeline_h2
{
	font-size: 2.9em;
}

.timeline_h3
{
	font-size: 2.3em;
}

.timeline_images
{
	width: 200px;
	height: 200px;
}

}



@media only screen and (min-width: 830px) {

#performance_section
{
	height: 600px;
}

}

@media only screen and (min-width: 1655px) {

#goals
{
	display: none;
}

#about_section
{
	margin-top: 300px;
	margin-bottom: 100px;
}

}

@media only screen and (min-width: 1000px) {

#performance_section
{
	height: 750px;
}

#ultimate
{
	font-size: 1.4em;
	padding-top: 60px;
}

}

@media only screen and (min-width: 1200px) {

#performance_section
{
	height: 850px;
}

}

@media only screen and (min-width: 1400px) {

#performance_section
{
	height: 1000px;
}

}


@media only screen and (min-width: 1600px) {

#performance_section
{
	height: 1200px;
}

}

@media only screen and (min-width: 430px) {

#gear_div
{
	margin-top: 300px;
}

}


@media only screen and (min-width: 520px) {

#gear_div
{
	margin-top: 330px;
}
}

@media only screen and (min-width: 580px) {

	#gear_div{
		margin-top: 400px;
	}
}


@media only screen and (min-width: 1300px) {

#gear
{
	height: 1000px;
}

#gear_div
{
	margin-top: 500px;
}

}

@media only screen and (min-width: 960px) {

#gear_div
{
	margin-bottom: 90px;
}

#look_like
{
	font-size: 1.6em;
}

}

@media only screen and (min-width: 850px) {

	.landing_button {
			padding: 10px;
			border-radius: 5px;
			text-align: center;
			font-size: 1.4em;
	}

	#theLegend
	{
		padding-top: 2%;
	}

}

@media only screen and (min-width: 740px) {

	#theLegend
	{
		padding-top: 3%;
	}

	#heading_page a
	{
		font-size: 1.5em;
	}


}

@media only screen and (min-width: 770px) {

	#stats_section
	{
		margin-top: -200px;
	}

}

@media only screen and (min-width: 805px) {

	#stats_section
	{
		margin-top: -190px;
	}

}

@media only screen and (min-width: 880px) {

	#stats_section
	{
		margin-top: -170px;
	}

	footer ul{
		font-size: 1em;
	}

}

@media only screen and (min-width: 1000px) {

	#stats_section
	{
		margin-top: -150px;
	}

	#welcome_background_img_desk
	{
		margin-top: -210px;
	}

}

@media only screen and (min-width: 1120px) {

	#stats_section
	{
		margin-top: -230px;
	}

	#welcome_background_img_desk{
		height: 800px;
		margin-top: -300px;
	}

	#welcome_title_desk{
		margin-top: 100px;
	}

}

@media only screen and (min-width: 1500px) {

	#stats_section
	{
		margin-top: -430px;
	}

	#welcome_background_img_desk{
		height: 1000px;
		margin-top: -300px;
	}

	#welcome_title_desk{
		margin-top: 100px;
	}

}

@media only screen and (min-width: 1800px) {

	#stats_section
	{
		margin-top: -230px;
	}

	#welcome_background_img_desk{
		height: 1200px;
		margin-top: -300px;
	}

	#welcome_title_desk{
		margin-top: 100px;
	}

}

@media only screen and (min-width: 1200px) {

	#stats_section
	{
		margin-top: -370px;
	}

	#welcome_background_img_desk{
		height: 1200px;
		margin-top: -280px;
	}

	#welcome_title_desk{
		margin-top: 60px;
		font-size: 1.3em;
	}

}

@media only screen and (min-width: 1350px) {

	#stats_section
	{
		margin-top: -360px;
	}


	#welcome_title_desk{
		margin-top: 20px;
	}

}

@media only screen and (min-width: 1430px) {




	#welcome_title_desk{
		margin-top: -100px;
	}

	#heading_page
	{
		padding-bottom: 150px;

	}

}

@media only screen and (min-width: 1535px) {

	#stats_section
	{
		margin-top: -360px;
	}

	.stat
	{
		font-size: 2.7em;
	}

}

@media only screen and (min-width: 1600px) {

	#stats_section
	{
		margin-top: -350px;
	}

}

@media only screen and (min-width: 1650px) {

	#stats_section
	{
		margin-top: -340px;
	}

}

@media only screen and (min-width: 1700px) {

	#stats_section
	{
		margin-top: -330px;
	}

}


@media only screen and (min-width: 1750px) {

	#stats_section
	{
		margin-top: -320px;
	}

}

@media only screen and (min-width: 1800px) {

	#stats_section
	{
		margin-top: -310px;
	}

}

@media only screen and (min-width: 1850px) {

	#stats_section
	{
		margin-top: -290px;
	}

}


@media only screen and (min-width: 460px) {

	.stat p{
		font-size: 0.7em;
	}

	.stat h3{
		color: black;
		font-size: 0.8em;
	}

	.welcome_title
	{
		font-size: 2.5em;
	}

}




#timeline_lightbox {
	top: 0;
	left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.95);
	color: white;
	padding-top: 25px;
}

.Lightbox-img
{
	display: block;
	text-align: center;
	margin: auto;
}

.timelineDetails
{
	margin-top: 30px;
	text-align: center;
}

.timelineYear
{
	text-align: center;
	color: #990000;
}

.timelineTitle
{
	text-align: center;
}

.close-lightbox
{
	float: right;
	cursor: pointer;
}


.controls
{
	background-color: black;
	height: 200px;
}
